* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  transition: all 0.3s;
}

body {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

main {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  height: 100vh;
}

section {
  width: 35%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f4f4f4 #88888800;
  border-radius: 15px;

  .games {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #f1f1f19f;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    p {
      margin: 5px 0;
    }
  }
}

article {
  width: 60%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;

  div {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 15px;

    input {
      margin-left: 15px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 300px;
    }

    button {
      padding: 10px;
      margin: 5px;
      border-radius: 5px;
      border: none;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
  }
}

ul {
  list-style-type: none;

  li {
    margin: 5px 0;
  }
}

.dashboard {
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  .dashH1 {
    padding: 10px;
  }
}
